{% extends 'home/home.html' %}



{% block faq %}
    <div class="faq-section">
        <div class="faq-content">
            <p>よく質問されたこと</p>
            <ul>
                <li><p>質問1</p>
                    <span>答え</span>
                </li>
                <li><p>質問2</p>
                    <span>答え</span>
                </li>
                <li><p>質問3</p>
                    <span>答え</span>
                </li>
                <li><p>質問4</p>
                    <span>答え</span>
                </li>
                <li><p>質問5</p>
                    <span>答え</span>
                </li>
                <li><p>質問6</p>
                    <span>答え</span>
                </li>
            </ul>
        </div>
    </div>
{% endblock faq %}